.hero {
  margin: 5rem auto;
  width: 100%;
  max-width: 90rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 35rem;
    border-radius: 1rem;
    padding: 2rem;

    .avatar,
    .noavatar {
      object-position: center;
      border-radius: 1rem;
      position: relative;
    }

    .overlay {
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
      position: absolute;
      border-radius: 1rem;
      width: 100%;
      height: 100%;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;
      z-index: 80;
    }

    .username,
    .button {
      position: absolute;
      left: 2rem;
      z-index: 81;
    }

    .openAvatar {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      z-index: 81;
    }
  }

  .info {
    display: grid;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;

    .col {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .openbiobutton {
        display: flex;
        justify-content: flex-end;
      }

      .openBio {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        textarea {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .info {
    grid-template-columns: 30% 70%;
  }
}
