.review {
  flex-grow: 1;
  width: 25rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  position: relative;

  .title {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .keywords {
      display: flex;
      flex-wrap: wrap;
      gap: 0.25rem;

      small {
        border: 1px solid#00000025;
        padding: 0.5rem 1rem;
        text-transform: uppercase;
      }
    }

    .intro {
      display: flex;
      align-items: baseline;
      justify-content: space-between;

      & p:nth-of-type(1) {
        flex-basis: 70%;
      }
    }
  }

  .description {
    overflow-y: scroll;
    max-height: 10rem;
    padding-right: 0.5rem;
  }
}
