.noreviews,
.content {
  width: 100%;
  max-width: 90rem;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;

  .reviews {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .pagination {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    & button:nth-of-type(1) {
      img {
        transform: rotate(-180deg);
      }
    }
  }
}
