@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

/*scrollbar*/
::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: #1c1c1c15;
}

::-webkit-scrollbar-thumb {
  background: #1c1c1c25;
}

/*general*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  padding: 5lvw;
  margin: 0;
}

h1,
.h1 {
  font-size: clamp(3.125rem, -0.7813rem + 12.5vw, 5rem);
  font-weight: 400;
  line-height: 1.15;
}

h2,
.h2 {
  font-size: clamp(2.5rem, 1.7188rem + 2.5vw, 3.125rem);
  font-weight: 400;
  line-height: 1.15;
}

h3,
.h3 {
  font-size: clamp(1.875rem, 1.0938rem + 2.5vw, 2.5rem);
  font-weight: 400;
  line-height: 1.15;
}

h4,
.h4 {
  font-size: clamp(1.5625rem, 1.1719rem + 1.25vw, 1.875rem);
  font-weight: 400;
  line-height: 1.15;
}

p,
a,
button {
  font-size: clamp(1rem, 0.875rem + 0.4vw, 1.125rem);
  text-decoration: none;
  color: #000;
  transition: color 0.3s;
}

small {
  color: #00000080;
}

/*custom classes*/
.white {
  color: #fff;
}

.black {
  color: #000;
}

.gray {
  color: #00000050;
}

.italic {
  font-family: "Lora", serif;
  font-weight: inherit;
}

.link:hover {
  color: #00000050;
}

/*buttons*/
.b-yellow {
  width: fit-content;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  color: black;
  background-color: #f1feab;
  border: 1px solid #00000025;
  border-radius: 2rem;
  transition: 0.3s;
  white-space: nowrap;
  text-transform: uppercase;
}

.b-yellow:hover {
  background-color: black;
  color: #f1feab;
  transition: 0.3s;
}

.b-out {
  width: fit-content;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border: 1px solid #00000025;
  color: black;
  background-color: white;
  border-radius: 2rem;
  transition: 0.3s;
  white-space: nowrap;
  text-transform: uppercase;
}

.b-out:hover {
  background-color: black;
  color: #f1feab;
  transition: 0.3s;
}

.b-full {
  width: fit-content;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  background-color: black;
  border: 1px solid #00000025;
  color: white;
  border-radius: 2rem;
  transition: 0.3s;
  white-space: nowrap;
  text-transform: uppercase;
}

.b-full:hover {
  background-color: #f1feab;
  border: 1px solid #00000025;
  color: black;
  transition: 0.3s;
}

button:hover > img {
  filter: invert(1);
}

.b-yellow:disabled,
.b-full:disabled,
.b-out:disabled {
  opacity: 0.5;
}

.card {
  border: 1px solid #00000025;
  border-radius: 1rem;
  padding: 2rem;
}

/*form classes*/
input,
textarea,
select,
option {
  border: 1px solid #00000025;
  border-radius: 2rem;
  padding: 1rem 2rem;
  background-color: transparent;
  transition: all 0.3s;
  font-size: clamp(1rem, 0.875rem + 0.4vw, 1.125rem);
  font-family: inherit;
  background-color: white;
}

label {
  color: #00000050;
  margin-left: 1rem;
}

select {
  appearance: none;
  background-image: url("/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 2rem top 50%;
  background-size: 1.5rem auto;
}

input::placeholder,
textarea::placeholder {
  color: #00000050;
}

input:focus,
textarea:focus,
select:focus,
option:focus {
  outline: none;
  background-color: rgb(235, 235, 235);
}

/*general loading, not found, error*/
.loading,
.notfound,
.error {
  height: 50lvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 2rem;
}
