.header {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  z-index: 97;

  .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.overlay {
  backdrop-filter: blur(0.5rem);
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  z-index: 98;
}
