.reviews {
  margin: 5rem auto;
  width: 100%;
  max-width: 90rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .reviewlist {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
