.footer {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;

  .row {
    display: grid;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 2rem;

    .col:nth-of-type(1) {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .col:nth-of-type(2) {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      div {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
      }
    }
  }

  .cards {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      height: 10rem;
      width: 10rem;
    }
  }
}

@media (min-width: 600px) {
  .row {
    grid-template-columns: 70% 25%;
  }
}
