.nav {
  position: fixed;
  right: 2.5lvw;
  top: 2.5lvw;
  padding: 2rem;
  height: 35rem;
  max-width: 30rem;
  width: calc(100% - 5lvw);
  border-radius: 2.5rem;
  background-color: #d7dae2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 100;

  .close {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .date {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
