.featured {
  background-color: #d7dae2;
  max-width: 90rem;
  width: 100%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding: 2rem 1rem !important;
}
