.review {
  border-bottom: 1px solid #00000025;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;

  .intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    form {
      display: flex;
      justify-content: flex-end;
    }
  }
}
